@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Pontano Sans', sans-serif;
    color: #36363c;
}
.header{
    display: flex;
}
.left-header-content{
    width: 50%;
    height: 100vh;
    background-image: url('../img/tim-van-der-kuip-CPs2X8JYmS8-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.right-header-content{
    width: 50%;
    height: 100vh;
    background-color: #fff;
    
}
.content-header{
    padding-top: 14em;
    padding-left: 3em;
}
.Design-background{
    font-size: 18em;
    text-transform: uppercase;
    color: #FAFBFD;
    cursor: default;
}
.view-projects{
    background-color: #5367FF;
    color: #fff;
    border: 1px #5367FF solid;
    padding: .7em 2em;
    border-radius: 2em;
    margin-top: 2em;
    cursor: pointer;
}
.about-me{
    width: 30vw;
    margin-top: 1em;
}
.who-I-am{
    margin-top: .5em;
    font-size: 2rem;

}
/*skills*/
.skills{
    margin-top: 10em;
}
.section-title-skills{
    color: #5367FF;
}

.skills-list{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
.skills-list h1{
    font-size: 1.2rem;
    text-transform: uppercase;
}
.skills-list ul{
    margin-top: 1.5em;
    list-style-type: none;
}
.skills-list li{
    margin-top: .5em;
    font-size: 1rem;
    color: #4c4c55;
}
/*projects*/
.project-title{
    text-align: center;
    margin-bottom: 4em;
    color: #5367FF;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.projects{
    margin-top: 10em;
}
.Card{
    width: 20vw;
    cursor: pointer;
}
.Card-info{
    text-align: center;
    background-color: #394c5a;
    padding: 20px;
}
.Card-info h1{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 100;
}
.Card-img{
    width: 20vw;
    height: 25vh;
    border: 1px #f1f1f1 solid;
}
.Card-field{
    margin-bottom: 3em;
}
.Card-img-title{
    width: 100%;
    height: 25vh;
}
.Card-section-background{
    padding: 50px;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.portal{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #394c5aad;
    display: none;
    position: fixed;
    top: 0;
}
.modal{
    background-color: #fff;
    width: 70vw;
    height: 70vh;
    margin: auto;
    margin-top: 7%;
}
.modal-open{
    display: flex;
    flex-direction: row;
}
.project-img{
    width: 40%;
    height: 70vh;
    padding-left: 2em;
    padding-right: 2em;
    
}
.project-description{
    width: 50%;
    height: 70vh;
    background-color: #394c5afd;
}
.project-img-title{
    width: 100%;
    margin-top: 10em;
}
.close-modal{
    position: absolute;
    float: right;
    margin: 0;
    padding: 0;
    right: 15.99%;
    cursor: pointer;
    transform: translate(0%, 70%);
}